/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block}
mark, rp, rt, ruby, summary, time {display:inline}
/* Alinhamento esquerdo e direito */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
/* propriedades globais */
body {background-color: #c9c7c8; border:0;font:14px Arial, Helvetica, sans-serif;color:#363636;line-height:20px;}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:absolute}
/* Estruturas globais */

.main {margin:0 auto;width:1080px}
.camada1 {z-index: 30; position: absolute}
.camadaRegistro {z-index: -10; margin-left: 570px}
.camadaLinkLogin1 {position: absolute; margin-left: 200px;}
.camadaLinkLogin2 {position: absolute; margin-left: 310px;}
body, html {height:100%;overflow-y: hidden}
.body1 {background:url(../resources/imagens/bg_top.jpg) top repeat-x;height:100%;min-height:745px;margin-top:0px}
.body2 {background:url(../resources/imagens/bg_img.jpg) top center no-repeat;height:100%;min-height:745px}
/*  main layout  */
a {color:#ff0909;text-decoration:none;outline:none}
a:hover {text-decoration:none}
h1 {float:left;padding:114px 0 0 63px}
p {padding-bottom:20px}
/*  header  */
header {height:266px;width:100%;overflow:hidden}
#menu {}
#menu li {}
#menu li a{}
#menu li a:hover, #menu #menu_active a {}

/*  content = conteudo  */
#content {height:370px;width:1005px;overflow:hidden;background:#fff;position:absolute}
.inner {padding:3px;position:relative;z-index:100}
.kwiks_wrap {height:766px}
.kwicks{list-style:none;margin:0;overflow:hidden;width:100% !important;	height:366px;position:relative}
.kwicks > li {width:176px;height:366px;float:left;overflow:hidden;padding:0;cursor:pointer;background:url(../resources/imagens/bg_content_right.jpg) top right no-repeat;position:relative;cursor:auto}
.text {float:left;width:60px;height:366px;text-indent:0;cursor:pointer}
#page_1 .text {background:url(../resources/imagens/page_1.gif) 0 0 no-repeat}
#page_2 .text {background:url(../resources/imagens/page_2.gif) 0 0 no-repeat}
#page_3 .text {background:url(../resources/imagens/page_3.gif) 0 0 no-repeat}
#page_4 .text {background:url(../resources/imagens/page_4.gif) 0 0 no-repeat}
#page_5 .text {background:url(../resources/imagens/page_5.gif) 0 0 no-repeat}
#page_6 .text {background:url(../resources/imagens/page_6.gif) 0 0 no-repeat}
#page_1.active .text, #page_1:hover .text {background:url(../resources/imagens/page1_active.gif) 0 0 no-repeat}
#page_2.active .text, #page_2:hover .text {background:url(../resources/imagens/page2_active.gif) 0 0 no-repeat}
#page_3.active .text, #page_3:hover .text {background:url(../resources/imagens/page3_active.gif) 0 0 no-repeat}
#page_4.active .text, #page_4:hover .text {background:url(../resources/imagens/page4_active.gif) 0 0 no-repeat}
#page_5.active .text, #page_5:hover .text {background:url(../resources/imagens/page5_active.gif) 0 0 no-repeat}
#page_6.active .text, #page_6:hover .text {background:url(../resources/imagens/page6_active.gif) 0 0 no-repeat} 
.cont {position:absolute;left:107px;top:20px;width:570px;height:320px;overflow:hidden}
.marg_right1 {margin-right:24px}
.marg_right2 {margin-right:15px}
.pad_top1 {padding-top:5px}
.marg_top1 {margin-top:-5px}
.pad_left1 {padding-left:32px}
.pad_bot1 {padding-bottom:10px}
.pad_bot2 {padding-bottom:22px}
.color1 {color:#558f0b}
.link1 {font-weight:bold;color:#393939;text-decoration:none}
.link1:hover {text-decoration:none}
.link2 {font-weight:bold;color:#393939;text-decoration:none}
.link2:hover {text-decoration:none}


/*
footer - rodape 
footer {font-size:12px;color:#fff;text-align:center; padding:0 0 0 0}
footer a {color:#6daf0e}
#icons {padding:28px 0 12px 0;display:inline-block;}
* +html #icons {display:inline}
#icons li {float:left;padding-right:2px}
*/
/* Tooltips */

.aToolTip {	border:1px solid #000;background:url(../resources/imagens/opacity_50_black.png) repeat;color:#fff;margin:0;padding:2px 10px;font-size:11px;}
.aToolTip .aToolTipContent {position:relative;	margin:0;padding:0}
/*  forms  */
#ContactForm {width:488px;padding-top:3px}
#ContactForm .bg {border:1px solid #cccccc;float:left;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#ContactForm .bg div {background:url(../resources/imagens/bg_input.gif) bottom repeat-x #fff;border:1px solid #fff;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#ContactForm .textarea_box .bg div {background:url(../resources/imagens/bg_textarea.gif) bottom repeat-x #fff}
#ContactForm span {float:left;width:107px;line-height:24px}
#ContactForm .wrapper {height:30px}
#ContactForm .textarea_box {height:210px;padding-bottom:5px}
#ContactForm a {float:right;margin-left:25px}
#ContactForm .input {width:367px;height:16px;background:none;padding:2px 5px;color:#363636;font:14px Arial, Helvetica, sans-serif}
#ContactForm textarea {overflow:auto;margin:0;width:367px;height:196px;background:none;padding:2px 5px;color:#363636;font:14px Arial, Helvetica, 
sans-serif}

/*  forms 2 - tela de login */
#ContactForm2 {width:488px;padding-top:3px;margin-left:50px}
#ContactForm2 .bg {border:1px solid #cccccc;float:left;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#ContactForm2 .bg div {background:url(../resources/imagens/bg_input.gif) bottom repeat-x #fff;border:1px solid #fff;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
#ContactForm2 .textarea_box .bg div {background:url(../resources/imagens/bg_textarea.gif) bottom repeat-x #fff}
#ContactForm2 span {float:left;width:107px;line-height:24px}
#ContactForm2 .wrapper {margin-left:80px;height:30px}
#ContactForm2 .textarea_box {height:210px;padding-bottom:5px}
#ContactForm2 .a {margin-left:260px}
#ContactForm2 .a2 {margin-left:80px}
#ContactForm2 .input {width:167px;height:16px;background:none;padding:2px 5px;color:#363636;font:14px Arial, Helvetica, sans-serif}
#ContactForm2 textarea {overflow:auto;margin:0;width:367px;height:196px;background:none;padding:2px 5px;color:#363636;font:14px Arial, Helvetica, sans-serif}